/* -----------------
Tabla de contenidos:
--------------------
1. Fuente ......................... 11
2. Variables ...................... 15
3. Estilos generales .............. 33
-------------------- */

/* ----- Fuente ----- */
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap");

/* ----- Variables ----- */
:root {
  /* colores */
  --color: #181a1b;

  /* config. */
  --fuente: "Figtree", sans-serif;
  --ft-size: 1rem;
  --l-height: 22px;
}

/* ----------------------------- */
/* ----- Estilos generales ----- */
/* ----------------------------- */
body,
html {
  font-family: var(--fuente);
  color: var(--color);
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--fuente);
  background: #f5d04e;
  color: var(--color);
}

.card {
  background-color: #faf9f9;
  border-radius: 10px;
  padding: 8%;
  border: 1px solid #000000;
}

.illustration-article {
  border-radius: 10px;
  width: 250px;
  height: 150px;
}

.learning {
  background-color: #f5d04e;
  border-radius: 7px;
  padding: 2%;
  width: 27%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 2%;
  margin-left: 0%;
  text-align: center;
}

.fecha-pub {
  font-size: 60%;
}

.parrafo {
  font-size: 80%;
  color: #8d8d8d;
}

.profile-image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.footer-card {
  display: flex;
  align-items: center;
}

.autor {
  margin-left: 5px;
}

.titulo:hover {
  background-color: #f5d04e;
}

.card:hover {
  box-shadow: 5px 5px rgb(0, 0, 0);
}

@media (max-width: 375px) {
  .illustration-article {
    max-width: 150px;
  }

  .profile-image {
    width: 40px;
    height: 40px;
  }
}